@media (min-width: 1200px){

.container {
	width: 1800px !important;
	max-width: 100% !important;
    padding-left: 2rem !important;
    margin-left: 0rem !important;
	}
}

@media (max-width: 768px){

.container{
    width: 768px !important;
    max-width: 100% !important;
    padding-left: 2rem !important;
    margin-left: 0rem !important;
}
}

@media (max-width: 900px){

.container {
	width: 900px !important;
	max-width: 100% !important;
    padding-left: 2rem !important;
    margin-left: 0rem !important;
	}
}

/*@media (min-width: 1250px){
		.header-text1{
		display:none;
	} 
}*/
@media (max-width: 1250px){
		.header-text{
		display:none;
	}
}

@media (max-width: 900px){

.container {
	width: 1000px !important;
	max-width: 100% !important;
    padding-left: 2rem !important;
    margin-left: 0rem !important;
	}
	.dom-wrapper{
		width:35rem;
	}
}
@media (max-width: 1200px){

.container {
	width: 1200px !important;
	max-width: 100% !important;
    padding-left: 2rem !important;
    margin-left: 0rem !important;
	}
}









